.imagen {
    width: 100px;
    height: 100px;
}

.texto {
    font-size: 15px;
    margin: 10px;
    color: black;
}

#texto {
    font-size: 15px;
    margin: 10px;
    color: black;
}

.text {
    font-size: 12px;
    margin-top: 12px;
    /* color: black; */
}

.botones {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 10px;
}

.tarjeta {
    margin: 4px;
    /* background-color: rgb(235, 230, 225); */
    border-radius: 10px;
    /* border-color: rgb(0, 0, 0); */
}

.btn {
    font-size: 12px;
    align-content: flex-end;
    align-items: flex-end;
}