/* ion-content {
    --background: var(--ion-background-color, rgb(201, 38, 38));
} */

.titulo {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    padding-top: 1.5rem;
}

.precios {
    color: rgb(52, 196, 100);
    font-weight: bold;
    margin: 5px;
    text-align: left;
}

.menu {
    color: rgb(52, 196, 100);
    font-weight: bold;
    font-size: 15px;
    margin-left: 0.7rem;
}

.menuu {
    color: rgb(153, 146, 146);
    margin-left: 1rem;
    font-size: 15px;
}

.card {
    /* box-shadow: none; */
    padding: .8rem;
    width: 9rem;
    height: 12rem;
    border-radius: 8px;
    overflow: hidden;
}

#img {
    object-fit: cover;
    /* width: 100px;
    height: 110px; */
    transform: scale(1.1, 1.1) rotate(1deg);
    /* transition: 600ms all ease-in-out; */
    align-self: center;
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

.icono {
    margin-top: 0rem;
    margin-left: 5.5rem;
    padding-bottom: 0.5rem;
}

#txt_Segment {
    /* background-color: blue; */
    color: rgb(52, 196, 100);
    font-size: 10px;
    width: 10px;
    min-width: 10px;
}

.t {
    margin-top: 10px;
    width: 10px;
    height: 20px;
    min-height: 10px;
    min-width: 13px;
}

.nombre {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 5px;
}

.modelo {
    color: rgb(153, 146, 146);
    margin-top: 5px;
    margin: none;
    font-size: 12px;
}

.precios2 {
    color: rgb(26, 224, 36);
    font-weight: bold;
    margin: 0px;
    text-align: left;
    font-size: 15px;
}

.colImg {
    padding: 2rem;
}

.img2 {
    object-fit: cover;
    /* width: 5rem;
    height: 6rem; */
    transform: scale(1.1, 1.1) rotate(1deg);
    align-self: center;
}

.colTxt {
    padding-right: 1.5rem;
    padding-top: 2rem;
}


/* -------------Diseño Vista 2---------- */


/* .r1 {
    margin: 0;
} */

.toolV2 {
    padding-left: 1rem;
    padding-right: 1rem;
    /* font-size: 20px; */
}

.cardV2 {
    box-shadow: none;
    padding: 1rem;
    margin-bottom: 0px;
}

.icon1V2 {}

.icons {
    font-size: 18px;
    /* margin-left: 10px; */
}

.nombreV2 {
    font-weight: bold;
    font-size: 19px;
    color: black;
    margin-left: 1rem;
}

.precioV2 {
    color: rgb(52, 196, 100);
    font-weight: bold;
    margin: 0px;
    margin-left: 1rem;
    font-size: 15px;
}

.card2V2 {
    border-radius: 25px;
    margin: 0px;
    box-shadow: none;
    background: rgb(247, 243, 243);
}


/* .col1V2 {
    color: black;
    width: 5rem;
} */

.col2V2 {
    align-items: center;
    /* margin-left: 7rem; */
    margin-top: 1rem;
    color: black;
    width: 10px;
}

.iconV2 {
    font-size: 15px;
    margin-left: 6rem;
    color: rgb(167, 163, 163);
    align-self: flex-end;
    margin-bottom: 2rem;
    margin-top: 0px;
}

.icon2V2 {
    color: rgb(52, 196, 100);
    margin-left: 0.5rem;
    font-size: 15px;
}

.icon3V2 {
    color: rgb(52, 196, 100);
    margin-left: 6rem;
    font-size: 15px;
    /* text-align: end; */
}

.txticon2V2 {
    color: rgb(167, 163, 163);
    font-size: 12px;
    padding-bottom: 1rem;
    padding-left: 5px;
}

.icongreenV2 {
    color: rgb(52, 196, 100);
    margin-left: 4rem;
    font-size: 15px;
    font-weight: bold;
    text-align: end;
}

.txtV2 {
    color: rgb(167, 163, 163);
    font-weight: bold;
    margin: 0px;
    margin-left: 1rem;
    font-size: 15px;
}

.img3V2 {
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-bottom: 1.3rem;
}

.Card3V2 {
    border-radius: 15px;
    width: 7.5rem;
    height: 8rem;
    margin: 0;
    --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    padding-left: 0px;
}


/* ion-card.ion-color .ion-inherit-color,
ion-card-header.ion-color .ion-inherit-color {
    color: rgb(18, 18, 19);
} */

.Card3Title {
    font-size: 14px;
    color: black;
}

.Card3Subtitle {
    padding-top: 0px;
    font-size: 13px;
    color: inherit;
}

.gridV2 {
    margin-bottom: 2rem;
}