.contentV4 {
    --background: var(--ion-background-color, rgb(247, 243, 243));
}

.colorToolV4 {
    /* box-shadow: none;
    --border-style: none; */
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}

.gridV4 {
    margin-top: 2rem;
}

.col1V4 {
    /* background-color: rgb(194, 19, 19); */
    min-width: 2rem;
    max-width: 8rem;
    /* min-height: 6rem; */
    height: 7rem;
    padding: 0px;
}

.cardV4 {
    /* object-fit: cover; */
    height: 7rem;
    margin-top: 0px;
    border-radius: 20px;
    padding: 0.5rem;
}

.imgV4 {
    padding-top: .7rem;
    object-fit: cover;
}

.col2V4 {
    margin-top: 0px;
}

.txt1col2V4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.txt2col2V4 {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: rgb(153, 146, 146);
}

.txt3col2V4 {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: rgb(52, 196, 100);
}

.btnV4 {
    margin-top: 2rem;
    text-align: center;
    border-radius: 20px;
}


/* .buttonV4 {
    border-color: rgb(52, 196, 100);
    border-radius: 50px;
    height: 5rem;
} */

.iconV4 {
    font-weight: bold;
}

.txtbtnV4 {
    padding: 6rem;
    text-align: center;
    text-transform: capitalize;
    color: rgb(52, 196, 100);
    /* font-weight: bold; */
    /* border-color: black; */
    font-size: 17px;
}


/* .btV4 {
    color: black;
    --border-color: #ff5050;
} */


/* :host(.button-outline) {
    --border-color: #1e2023;
    --background: transparent;
    --color: var(--ion-color-primary, #3880ff);
} */

.card2V4 {
    margin: 0px;
    border-radius: 2rem;
    margin-top: 2rem;
}

.txt4V4 {
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(153, 146, 146);
    font-size: 16px;
    /* font-weight: bold; */
    font-family: Arial;
}

.card3V4 {
    /* color: rgb(0, 0, 0); */
    background: rgb(247, 243, 243);
    padding: 1rem;
    /* padding-top: 1rem; */
    border-radius: 1rem;
    max-height: 40rem;
    margin-top: 0px;
}

.nomV4 {
    margin-top: 2rem;
    text-align: start;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}

.precV4 {
    text-align: start;
    color: rgb(52, 196, 100);
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 16.5px;
    margin-top: 0px;
}

.icon2V4 {
    text-align: start;
    font-size: 15px;
}