/* ion-content {
    --background: var(--ion-background-color, rgb(201, 38, 38));
    border-radius: 20px;
} */

.vista3 {
    border-color: black;
    border-radius: 3rem;
}

.icons {
    margin-left: 0.5rem;
}

#colorTool {
    color: black;
}

.menu {
    padding-top: 10px;
    color: rgb(26, 224, 36);
    font-weight: bold;
    font-size: 15px;
    margin-left: 0.6rem;
}

.menuu {
    padding-top: 10px;
    color: rgb(153, 146, 146);
    margin-left: 1rem;
    font-size: 15px;
}

#card {
    box-shadow: none;
    margin-top: 0;
    border-bottom: 1px solid #0000;
    border-color: rgb(153, 146, 146);
    border-radius: 0;
}

#col01 {
    width: 100%;
    max-width: 100rem;
}

#col1 {
    text-align: start;
}

#nomCol1 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#descCol1 {
    font-size: 12px;
    margin-top: 3px;
}

#col02 {
    max-width: 8rem;
    min-width: 8rem;
    align-items: flex-end;
    margin-bottom: 0;
}

#col2 {
    text-align: end;
    margin-bottom: 0px;
}

#precCol2 {
    color: rgb(52, 196, 100);
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#iconCol2 {
    margin-left: 50%;
    font-size: 12px;
    margin-top: 3px;
}

#txt {
    margin-left: 0.8rem;
    margin-top: 2.5rem;
    color: rgb(153, 146, 146);
    font-size: 16px;
}

#div2 {
    align-items: center;
    margin-left: 8px;
}

#colum {
    border-radius: 15px;
    border-color: black;
    margin-right: 1rem;
    --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    padding: 0.5rem;
}

#txt2 {
    color: black;
    font-size: 12px;
    text-align: center;
    padding-top: 1rem;
}

.btnV3 {
    margin-top: 2rem;
    text-align: center;
    border-radius: 20px;
    margin-left: 0px;
}

.txtbtnV3 {
    padding: 5rem;
    text-align: center;
    text-transform: capitalize;
}

#btn {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 1.5rem;
    --background: var(--ion-background-color, rgb(52, 196, 100));
    border-radius: 20px;
    --border-color: var(--border-color, rgb(52, 196, 100));
}