.colorCards {
    background-color: rgb(247, 243, 243);
}

.card1V5 {
    /* background: black; */
    margin: 0;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: none;
}

.card2V5 {
    box-shadow: none;
    margin: 1rem;
    padding: 0;
    height: 5.5rem;
    margin-bottom: 1.5rem;
}

.card3V5 {
    box-shadow: none;
    background-color: rgb(247, 243, 243);
    padding: 10px;
}

.col1V5 {
    margin: 0px;
    min-height: 1rem;
    min-width: 1rem;
}

.Col3V6 {
    max-width: 10%;
}

.imgV5 {
    object-fit: cover;
}

.nomV6 {
    text-align: start;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0;
}

.descV6 {
    text-align: start;
    margin-top: 9px;
    font-size: 12px;
}

.precV6 {
    text-align: end;
    font-size: 14px;
    color: rgb(52, 196, 100);
    font-weight: bold;
    margin-bottom: 0px;
}

.txtV6 {
    text-align: end;
    margin-top: 9px;
    font-size: 12px;
}

.txtDesc {
    box-shadow: none;
    text-align: justify;
    margin: 1.3rem;
    font-size: 14px;
    color: rgb(153, 146, 146);
}

.card4V6 {
    background-color: rgb(247, 243, 243);
    box-shadow: none;
    margin-right: 10rem;
    margin-left: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.iconsV6{
    margin-left: 2px;
    margin-right: 2px;
}

.txtCard4{
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}

.txt2V6{
    font-size: 20px;
    margin: 1.5rem;
    text-align: start;
}


.card2V6 {
    box-shadow: none;
    margin: 1rem;
    padding: 0;
    height: 5.5rem;
    margin-bottom: 1.5rem;
}

.card3V6{
    box-shadow: none;
    margin: 1rem;
    padding: 0;
    /* height: 5.5rem; */
    margin-bottom: 1.5rem;
}

.nom2V6{
    text-align: start;
    font-size: 14px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 0;
}
.desc2V6 {
    text-align: start;
    margin-top: 15px;
    font-size: 12px;
}

.col2V6{
    max-width: 7rem;
    /* max-height: 10rem; */
    object-fit: cover;
}

.card3V6{
    box-shadow: none;
    background-color: rgb(247, 243, 243);
    /* padding: 10px; */
    border-radius: 12px;
}
 

.card5V6{
    background: black;
    margin: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
    padding-top: 6px;
    /* align-content: center; */
}

.favV5{
    margin-top: 12px;
}

.txtbtnV6{
    color: white;
    font-size: 11px;
    /* margin-top: 30rem; */
}

