.gridV5 {
    margin-top: 0rem;
}

.hrV5 {
    background: rgb(153, 146, 146);
    margin-top: 1rem;
}

.iconV5 {
    margin-right: 0.5rem;
    text-align: end;
}

.col1V5 {
    /* background-color: rgb(194, 19, 19); */
    min-width: 2rem;
    max-width: 8rem;
    /* min-height: 6rem; */
    height: 7rem;
    padding: 0px;
}

.cardV5 {
    /* object-fit: cover; */
    max-width: 8rem;
    height: 7rem;
    margin-top: 0px;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: rgb(247, 243, 243);
}

.btnV5 {
    margin-top: 2rem;
    text-align: center;
}

.btn2V5 {
    text-align: center;
    /* --border-style: none; */
}

.btn02V5 {
    /* --background: var(--ion-background-color, rgb(153, 146, 146)); */
    color: rgb(153, 146, 146);
    --background: var(--ion-background-color, rgb(223, 219, 219));
    --box-shadow: none;
    width: 40px;
    height: 40px;
    /* --border-radius: 50%; */
    /* --padding-top: 5px; */
    margin-top: 8px;
    /* margin-bottom: 1rem; */
}

.txtbtnV5 {
    object-fit: cover;
    font-size: 15px;
    text-transform: capitalize;
    padding: 1rem;
    margin: .5rem;
}

.txt2btnV5 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(153, 146, 146);
}